*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}
body p{
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    line-height: 26px;
    font-size: 15px;
    text-align: -webkit-left;
}
.k1{
    margin-left: 100px;
}
.k2{
    text-align: inherit;
    font-size: 15px;
    margin-top: 20px;
    /* color: #fff; */
    color: #000;
}

.kasper{
    height: 70px;
    width: 195px;
    margin-top: -24px;
    margin-left: -98px;
    
}
.im{
    padding-left: 10px;
}
.loc{
    display: flex;
   
    justify-content: space-between;
}
.line{
    margin-top: 10px;
    margin-top: -25px;
    font-style: oblique;
    font-family: fangsong;
}
#asdf{
    justify-content: space-between;
    margin-top: 35px;
}
.abc{
    display: flex;
}
.para{
    color: black;
}
hr{
    width: 20%;
    margin-right: 50%;
}
#more {display: none;
    font-size: 16px;
}
#more1 {display: none;
    font-size: 16px;
}
#more2 {display: none;
    font-size: 16px;
}
#more3 {display: none;
    font-size: 16px;
}
#more4 {display: none;
    font-size: 16px;
}
#more5 {display: none;
    font-size: 16px;
}

.cardbox{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0px 30px;
}

.rounded{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5px -13px 0px;
    margin-left: -14px;
    margin-right: -18px; */
}


/* #back{
    border: 1px solid black;
     border-radius: 40px;
    box-shadow: 22px 19px 26px 9px grey;
} */
.navbar-brand {
    /* margin-right: var(--bs-navbar-brand-margin-end); */
    text-decoration: none;
    white-space: nowrap;
    width: 33%;
}


@media(min-width: 768px){
.navbar-expand-md .navbar-nav {
    margin-left: 88px;
}}


.contact{
    list-style: none;
    display: flex;
    justify-content: end;
    font-weight: 600;
}
/* header{
    color: black !important;
    background-color: #68a5d99e;
} */
.brand-logo {
    width: 56%;
    margin-top: -24px;
    margin-bottom: -5px;
}

  

  
  @media (max-width: 768px) {
  
   
    .brand-logo{
        margin-top: -30px;
        width: 160px;
        margin-bottom: 0px;
        margin-left: -30px
    }
    .banner{
        display: none;
    }
  }

.home-banner::before{
    left: 0;
    height: 20em;
    width: 20em;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    background: linear-gradient(#15e0ff,#8a15ff);
    align-self: flex-end;
    animation: 8s ease-in-out 3s infinite alternate gradient-fade;
}

.home-banner::after{
  width: 10em;
  height: 10em;
  background: linear-gradient(#15e0ff,#8a15ff);
}
.btn1{    
    color: #fff;
    display: inline-block;
    padding: 7px 21px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 27px;
    background: linear-gradient(93.03deg,#476fff 19.4%,#8015c2 77.31%) !important;
}

.flag{
    border-radius: 5px;
    width: 75px;
}
.col-md-2 {
    flex: 0 0 auto;
    width: 12.666667%;
    border-radius: 15px;
}
.a1{
    justify-content: space-between;
    text-align: center;
}
.bg-1{
    background-color: #29954a;
}
.bg-2{
    background-color: #fe4728;
}
.bg-3{
    background-color: #474072;
}
.bg-4{
    background-color: #c21296;
}
.bg-5{
    background-color: #01afec;
}
.bg-6{
    background-color: #3554af;
}
.kaspergirl{
    height: 70%;
    /* margin-top: 32px; */
    overflow: hidden;
}
@media screen and (max-width: 480px) {
    .kaspergirl {
      display: none;
    }
  }
.deve{
    font-weight: 700;    
    margin-top: 35px;
    text-align: center;
    color: black;
    font-family: fangsong;
    /* text-shadow: 4px 3px rgba(128, 128, 128, 0.527); */
}
.req{
    margin-top: 35px;
}
.p1{
    text-align: inherit;
    font-size: large;
    margin-top: 20px;
    /* color: #fff; */
    color: #000;
}
.a3{
    font-size: larger;
    text-align: center;
    color: #fff;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 15px 10px 25px 0px grey;
    /* background: linear-gradient(0deg, rgba(196,0,255,0.8099614845938375) 34%, rgba(47,49,219,0.8323704481792717) 79%); */
}
.h2{
    font-weight: 800;
    margin-bottom: 15px;
    font-size: 35px;
    height: 50px;
    color: #000;
}
.service-box{
    padding: 5px;
    transition: transform .2s;
    margin: 0 auto;
    font-weight: 600;
    color: white;
}
  .service-box:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
  }
  .svg-icon{
    height: 46px;
  }
  .svg-icon1{
    height: 33px;
  }
  span{
    font-size: 15px;
    float: none;
    font-weight: 600;
}
a{
    color: var(--bs-link-color);
    text-decoration: none;
    font-size: 15px;
    
}
a:hover{
    color: #474072;
}
.a4{
    justify-content: space-between;
    text-align: center;
}
.a5:hover{
    background: white;
    color: white;
}


.a5 {
    color: #fff;
    margin: 0;
}

.a5 {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.a5 {
    display: block;
    padding: 15px;
    color: blue;
    background: cornflowerblue;
}
/* .a5:hover{
    background: linear-gradient(90deg, rgba(145,159,255,1) 50%, rgba(66,60,250,1) 50%);
} */
.a5 .icon{
    position: relative;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 13px 4px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 13px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 13px 4px rgba(0,0,0,.1); 
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon::before {
    content: '';
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

 .icon {
    /* background: linear-gradient(90deg, rgba(145,159,255,1) 50%, rgba(66,60,250,1) 50%); */
    width: 100px;
    height: auto;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: 1s;
    padding: 10px;
}


/* .icon:hover { 
    background: white;
} */
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.p-logo{
    height: 85px;
    width: 143px;

}
.logo{
    height: 40px;
}
.a6{
    background-color: #ff4d4d;
    color: whitesmoke;
  border-radius: 20px;
  
}
.a7{
    background-color: #ff0f00;
    color: whitesmoke;
    border-radius: 20px;
}
.a8{
    background-color: #e64dff;
    color: whitesmoke;
    border-radius: 20px;
}
.a9{
    background-color: #525252;
    color: whitesmoke;
    border-radius: 20px;
}
.a10{
    background-color: #ff4d00;
    color: whitesmoke;
    border-radius: 20px;
}
.a11{
    background-color: #ff004d;
    color: whitesmoke;
    border-radius: 20px;
}
.b3{
    text-align: center;
    background-color: gray;
    color: whitesmoke;
}
.d1{
    height: 61px;
    margin-left: 52px;
    color: #040646;
}
.d2{
   
    height: 40px;
    margin-left: 104px;

}
.d5{
   
    height: 40px;
   

}
.developer{
    margin-left: 20px;
    margin-top: 20px;
    height: 70%;
}
.b5{
    background-color: #367cff;
    width: 25%;
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-size: larger;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 22px 19px 26px 9px grey;
}
.btn-1{
    font-size: larger;
    margin-left: 39%;
    width: 24%;
    height: 54%;
    font-weight: 800;
    background-color: #a3c1f9;
    padding: 10px;
    border-radius: 30px;
    border: none;
}
.btnbtn{
    font-size: larger;
    margin-left: 60%;
    width: 40%;
    height: 13%;
    font-weight: 800;
    background-color: #a3c1f9;
    padding: 10px;
    border-radius: 30px;
    border: none;
}
.btn-1:hover{
    background-color: #0059ff;
    color: white;
}
.blog {
    margin-left: -4px;
    width: 100%;
    /* border-radius: 35PX; */
    margin-top: 12px;
}

h4{
    color: black !important;
    font-weight: 600;
    margin-top: 10px;
}
p{
    text-align: justify;
}
@media (min-width: 768px){
.b1 {
    flex: 0 0 auto;
    width: 29.333333%;
    border-radius: 20px;
    box-shadow: 15px 10px 25px 0px grey;
    /* background:cornflowerblue; */
}
}
.b2 {
    justify-content: space-between;
}
.btn-2{
   background-color:#367cff;
   font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 5px 35px;
    display: inline-block;
    transition: .2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 30px;
    border-color: #367cff;
    margin-left: 55px;
    margin-bottom: 15px;
}
.btn-2:hover{
    background-color: rgb(53, 134, 201);
    color: white;
}
span.b4 {
    font-size: inherit;
}
span.b4 {
    font-size: initial;
}
.btn-3{
    color: #fff !important;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(93.03deg,#476fff 19.4%,#8015c2 77.31%);
    padding: 5px;
    width: 140px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
}
.b6{
    padding: 20px;
    background-color: #6f42c1;
    background-image: url(/assets/world-wide-bg.svg);
}
.c1{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    width: 15% !important;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin: 0px -53px 0px 100px;
    
}
.c1 img{
    width: 120px;
}
.b8 {
    background-image: url(/assets/mobile/banner-bg.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.b9{

    background-image: url(/assets/mobile/mob-compny-banner-element.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.c2{
    background: linear-gradient(90deg,#47f1f0 7.29%,#a900e7 89.58%);
    padding: 50px 0;
    position: relative;
    z-index: 2;
}
.c3{
    background: rgba(255,255,255,.5);
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding: 30px 30px 15px;
}
.p2{
    text-align: center;
    font-size: larger;
    margin-top: 30px;
    color: #000;
}
.text-list li {
    border-bottom: 1px dotted #000;
    padding-top: 10px;
    position: relative;
    padding-left: 20px;
    padding-bottom: 15px;
}

.text-list {
    display: block;
    list-style: square; 
    margin-top: 10px;
}
.box-inner{
    padding: 30px;
    border: 2px solid gray;
    margin-top: 40px;
    text-align: center;
    border-radius: 15px;
}
.c4{
    height: 70px;
}
.box-inner {
    --g: 20px; 
    --b: 5px; 
    --c: #fc6585; 
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  .box-inner:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }
  
  .test{
    margin-top: 5%;
    display: block;
  }
  .requirement-analysis {
    border: 2px solid gray;
    border-radius: 70px;
    padding-left: 50px;
    width: 50%;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .requirement-analysis{
        width: 127%;
        margin-top: 55px;
        margin-left: -49px;
        font-size: 10px;
    }
   
}
.solution{
    border: 2px solid gray;
    border-radius: 70px;
    width: 50%;
    /* text-align: inherit; */
    padding-left: 50px;
    float: right;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .solution{
        width: 126%;
        margin-top: 27px;
        font-size: 10px;
        margin-right: -29px;
    }
   
}
.interactive {
    border: 2px solid gray;
    border-radius: 70px;
    padding-left: 50px;
    width: 50%;
    margin-top: 120px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .interactive{
        width: 128%;
    margin-top: 190px;
    font-size: 10px;
    margin-left: -46px;
    }
   
}
.mobile-app-development{
    border: 2px solid gray;
    border-radius: 70px;
    width:50%;
    text-align: inherit;
    padding-left: 50px;
    float: right;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .mobile-app-development{
        width: 127%;
        margin-top: 27px;
        font-size: 10px;
        /* margin-left: 49px; */
        margin-right: -36px;
    
    }
    /* .test{
        margin-left: -10px;
    } */
   
}
.testing {
    border: 2px solid gray;
    border-radius: 70px;
    padding-left: 50px;
    width: 50%;
    margin-top: 120px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .testing{
        width: 127%;
        margin-top: 190px;
        font-size: 10px;
        margin-left: -50px;
    }
   
}
.deployment{
    border: 2px solid gray;
    border-radius: 70px;
    width: 50%;
    text-align: inherit;
    padding-left: 50px;
    float: right;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .deployment{
        width: 127%;
        margin-top: 27px;
        font-size: 10px;
        /* margin-left: 49px; */
        margin-right: -36px;
    
    }
   
}
.support {
    border: 2px solid gray;
    border-radius: 70px;
    padding-left: 50px;
    width: 50%;
    margin-top: 120px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
}
@media (max-width: 480px){
    .support{
        width: 127%;
        margin-top: 190px;
        font-size: 10px;
        margin-left: -49px;
        
    
    }
   
    .btn-1{
        width: 40%;
    }
   
}
.count{    float: right;
    margin-right: 59px;
    margin-top: -45px;
    width: 40px;
    background: #1155c1;
    text-align: center;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
b {
    font-weight: 800;
    background-color: blue;
    padding: 10px 8px;
    color: white;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-left: -36px;
}
.btn-4{
    
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 15px 25px 15px 55px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow:  0 4px 10px rgb(0 0 0 / 25%);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: 0;
    transition: .4s;
    line-height: 18px;

}
.show {    
    text-align: justify;
    background-color: white;
    padding: 15px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    margin-top: -7px;
}
.btn-5{
    
    font-size: 16px;
    background-color: #fff;
    color: #000;
    padding: 15px 25px 15px 55px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow:  0 4px 10px rgb(0 0 0 / 25%);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: 0;
    transition: .4s;
    line-height: 18px;

}
.collapse.in {
    text-align: justify;
    /* background-color: white; */
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    padding: 15px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    width: 100%;
    margin-top: -13px;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto;
    width: 46%;
  }
  
  .zoom:hover {
    box-shadow: 0 4px 20px rgb(0 0 0 / 25%);
    transform: scale(1.05);
  }
  .btn-6{
  background-color:#367cff;
  font-weight: 500;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   padding: 5px 35px;
   display: inline-block;
   transition: .2s ease-in-out;
   border: 2px solid transparent;
   border-radius: 30px;
   border-color: #367cff;
   margin-left: 42%;
}
.btn-6:hover{
   background-color: white;
}
.c5{
    margin-left: -20px;
}
.c6{
  margin-left: 10px;
  margin-right: 10px;
}
.text {
    padding: 90px 50px 30px;
    border-radius: 35px;
    background-color: white;
    box-shadow: 0 10px 15px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 25%);
    margin: 15px;
}
.clients-photo{
    border-radius: 50%;
    margin-bottom: -8%;
    margin-left: 4%;
}
.carousel-indicators li {
    background-color: #221d1d !important;
    padding: 3px;
    margin-top: 10px;
}
.clients-photo-button {
    text-align: end;
    color: blue;
    font-size: larger;
    font-weight: 700;
}
.home-banner .main:before {
    left: 0;
    height: 20em;
    width: 20em;
    border-radius: 30em;
    -webkit-border-radius: 30em;
    -moz-border-radius: 30em;
    background: linear-gradient(#15e0ff,#8a15ff);
    align-self: flex-end;
    animation: 8s ease-in-out 3s infinite alternate gradient-fade;
}
.card-img-top{
    margin-top: 25px;
}
.btn-7{
    color: #000;
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding: -1px 31px;
    display: inline-block;
    transition: .2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 30px;
    border-color: white;
    margin-left: 173px;
    margin-bottom: 10px;
    padding: 2px 16px;
 }
 .btn-7:hover:hover{
     background-color: #367cff;
 }
 .btn-8{
    color: #000;
    background-color:#fff;
    font-weight: 500;
     font-size: 15px;
     line-height: 30px;
     text-align: center;
     padding: 0px 10px;
     display: inline-block;
     transition: .2s ease-in-out;
     border: 2px solid transparent;
     border-radius: 30px;
     border-color: white;
     margin-left: 200px;
     margin-bottom: 15px;
 }
 .btn-8:hover:hover{
     background-color: #367cff;
 }

  @media screen and (max-width: 480px) {
    .p-logo{
       height: 39px;
       width: 63px;
       padding: 5px;
    
    }
    .logo{
        height: 39px;
        width: 73px;
        padding: 5px;
        margin-right: 15px;
    }
    /* .afroz{
        width: 100%;
        margin-left: -12px;
    } */
    .deve {
        font-size: 30px;
        }
        .para{
            font-size: 17px;
        }
   
  } 

  
.box {
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 100%;
  }
  .srcl1{    
    background: #f3f5ff;
    border-bottom: 4px solid #b0bdff;
}
.srcl2 {
    background: #fff3e6;
    border-bottom: 4px solid #ffc093;
}
.srcl3 {
    background: #fbeefd;
    border-bottom: 4px solid #f6bcff;
}
.srcl4 {
    background: #effdff;
    border-bottom: 4px solid #9ff3ff;
}
.srcl5 {
    background: #fbfff1;
    border-bottom: 4px solid #ffdaa2;
}
  .srcl1{
    background: #f3f5ff;
    border-bottom: 4px solid #b0bdff;
  }
  .funfct {
    line-height: 26px;
    padding: 30px 60px;
    border-radius: 8px 8px 8px 40px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}


.skill {
    margin-top: -15px;
    margin-left: -20px;
    background-color: rgb(116, 194, 92);
    color: white;
    text-align: right;
    font-size: 15px;
    border-radius: 15px;
    padding-right: 10px;
}

.html {
    width: 105%;
}
.card-icon {
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 2px solid #040646;
    padding: 25px;
}

.card-icon, .certifications_card {
    background: #fff;
    margin: 0 auto;
    display: flex;
}
.bg-gradient3 {
    background: #e2f3ff;
    background: -moz-linear-gradient(top,#e2f3ff 0,#fffbef 100%);
    background: -webkit-linear-gradient(top,#e2f3ff 0,#fffbef 100%);
    background: linear-gradient(to bottom,#e2f3ff 0,#fffbef 100%);
}
.missionvision {
    margin-top: 50px;
    position: relative;
    padding: 5px 0;
}
hr{
    color: #0059ff;
}
@media (max-width: 480px){
.developer {display: none;
}
}
@media (max-width: 480px){
.img1 {
    height: 15%;
    width: 218px;
}
}
.banner1{
    display: block;
    width: 100% !important;
}
@media (max-width: 480px){
.banner1{display: none;
}
}
@media (max-width: 480px){
.d3{display: none;
}
}

/* card */

@media (min-width: 992px){
    .col-md-4 {
        width: 30.333333% !important;
    }}
@media (min-width: 250px){

    .b1 {
       display: flex;
        /* width: 29.333333%; */
        border-radius: 20px;
        box-shadow: 15px 10px 25px 0px grey;
        background:cornflowerblue;
        margin: 3px;
      
    }
    }
    /* @media (min-width: 600px){

        .deve {
        font-size: 30px;
        }
        .para{
            font-size: 17px;
        }
        .tab-content{
            display: flex;
        }
        .p-logo{
            height: 39px;
            width: 63px;
            padding: 5px;
         
         }
         .logo{
             height: 39px;
             width: 73px;
             padding: 5px;
             margin-right: 15px;
         }
       
    

} */
.btn-7{
    margin-left: 151px;
}
.btn-7:hover{
   background-color: #15e0ff;
}



#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -9;
}

#bg canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 480px) {
    .rounded-4{
        width: 100%;
        margin: 12px 5px 15px 0px;
        /* margin-left: -10px; */
    }


  }
.rounded-4{
    /* display: flex; */
    padding: 20px 40px;
    background: currentColor;
    /* background: linear-gradient(90deg, rgba(255,145,145,1) 32%, rgba(60,163,250,1) 69%); */
    /* background: #01afec; */
    background-color: white;

}

.rounded-4:hover{
   
    background: linear-gradient(90deg, rgba(255,145,145,1) 32%, rgba(60,163,250,1) 69%);
  }


  /*  */
  @media (max-width: 480px){
    .a6 {
        width: 100%;
        font-size: 10px;
        margin: 32px 0px 30px 0px;
        
    
    }
    .a7 {
        width: 100%;
        font-size: 10px;
        margin: 32px 0px 30px 0px;
        
    
    }
    .a9 {
        width: 100%;
        font-size: 10px;
        margin: 32px 0px 30px 0px;
        
    
    }
    .a10 {
        width: 100%;
        font-size: 10px;
        margin: 32px 0px 30px 0px;
        
    
    }
    .d2{
        height: 65px;
        margin-left: 15px;
    }
    .d1{
        height: 65px;
    margin-left: 15px;
    }
    p{
        font-size: 20px;
    }
    .h1{
        margin-right: 100px;
    }
}

.h5{
    font-size: 10px;
}


